
.btn-card{
    border-radius: 0;
    width: 100%;
}
.card-text{
    text-align: justify;
}
.colapsado{
    margin: 1em 0;
}
.jumbotron {
    background-color: #737b83;
    color: blanchedalmond;
    margin-top: 3em;
}
footer{
    margin-top: 1em;
}
.card-hotel{
    flex: 1 25%;
    margin-top: .8em;
    padding: .4em .6em;
}
img{
    width: 100%;
    margin: 1em 0;
}