.btn-card {
  border-radius: 0;
  width: 100%; }

.card-text {
  text-align: justify; }

.colapsado {
  margin-top: 1em;
  margin-bottom: 0em; }

.jumbotron {
  background-color: #177015;
  color: blanchedalmond;
  margin-top: 3em;
  margin-bottom: 0em; }

footer {
  background-color: #177015;
  margin-top: 1em;
  margin-bottom: 0em; }

.card-hotel {
  flex: 1 25%;
  margin-top: 0.8em;
  margin-bottom: 0em;
  padding: .4em .6em; }

img {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 0em; }
