$yellow: #e8de17;
$red: #e60b0b;
$green: #177015;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.btn-card{
    border-radius: 0;
    width: 100%;
}
.card-text{
    text-align: justify;
}
.colapsado{
    @include margenes(1em, 0em );
}
.jumbotron {
    background-color: $green;
    color: blanchedalmond;
    @include margenes(3em, 0em );
}
footer{
    background-color: $green;
    @include margenes(1em, 0em );
}
.card-hotel{
    flex: 1 25%;
    @include margenes(.8em, 0em );
    padding: .4em .6em;
}
img{
    width: 100%;
    @include margenes(1em, 0em );
}